In [2]:
import pandas as pd

In [4]:
df_road=pd.read_csv('도로현황(도로율).csv', encoding='utf-8')
df_area=pd.read_csv('서울시 행정동별 면적.csv',encoding='utf-8')

In [14]:
df_road.drop('자치구별(1)', axis=1, inplace=True)

In [17]:
df_road.columns=['자치구','도로율(%)']

In [23]:
df_road.drop(0,axis=0, inplace=True)

In [28]:
df_road.drop(1,axis=0,inplace=True)

In [30]:
df_road.index=range(25)

In [31]:
df_road

     자치구 도로율(%)
0    종로구  21.44
1     중구  18.82
2    용산구  22.19
3    성동구  23.09
4    광진구  28.83
5   동대문구  22.16
6    중랑구  26.01
7    성북구  23.59
8    강북구  20.93
9    도봉구  19.02
10   노원구  23.71
11   은평구  22.08
12  서대문구  17.25
13   마포구  28.61
14   양천구  27.88
15   강서구  26.99
16   구로구  22.06
17   금천구  21.38
18  영등포구  24.23
19   동작구  17.29
20   관악구  25.41
21   서초구  26.35
22   강남구  24.06
23   송파구  20.68
24   강동구  24.32

In [58]:
import numpy as np

In [70]:
np.array(df_road['도로율(%)'])* 0.01

TypeError: can't multiply sequence by non-int of type 'float'

In [75]:
type(np.array(df_road['도로율(%)'])[0])   #str 을 float 로 바꿔야함

str

In [76]:
df_road['도로율(%)']=df_road['도로율(%)'].astype(float) #str->float 변환

In [85]:
df_road['도로율(%)'].dtype

dtype('float64')

In [86]:
df_road['도로율(%)']=df_road['도로율(%)']*0.01

In [91]:
df_road.rename(columns={"도로율(%)": "도로율"},inplace=True) # 컬럼명 변경

In [92]:
df_road

     자치구     도로율
0    종로구  0.2144
1     중구  0.1882
2    용산구  0.2219
3    성동구  0.2309
4    광진구  0.2883
5   동대문구  0.2216
6    중랑구  0.2601
7    성북구  0.2359
8    강북구  0.2093
9    도봉구  0.1902
10   노원구  0.2371
11   은평구  0.2208
12  서대문구  0.1725
13   마포구  0.2861
14   양천구  0.2788
15   강서구  0.2699
16   구로구  0.2206
17   금천구  0.2138
18  영등포구  0.2423
19   동작구  0.1729
20   관악구  0.2541
21   서초구  0.2635
22   강남구  0.2406
23   송파구  0.2068
24   강동구  0.2432

In [32]:
df_area

     동별(1)  동별(2)  동별(3)     2021
0    동별(1)  동별(2)  동별(3)       면적
1    동별(1)  동별(2)  동별(3)  면적 (k㎡)
2      서울시     소계     소계   605.24
3      서울시    종로구     소계    23.91
4      서울시    종로구    사직동     1.23
..     ...    ...    ...      ...
449    서울시    강동구   성내3동     0.71
450    서울시    강동구   둔촌1동     0.92
451    서울시    강동구   둔촌2동     0.98
452    서울시    강동구   상일1동     2.65
453    서울시    강동구   상일2동     0.54

[454 rows x 4 columns]

In [36]:
df_area.drop('동별(1)',axis=1, inplace=True)
df_area.drop([0,1,2], axis=0,inplace=True)

In [37]:
df_area.columns=['자치구','행정동','면적(k㎡)']

In [41]:
df_area=df_area.loc[df_area['행정동']!='소계']

In [46]:
df_area.index=range(426)

In [44]:
df_area

     자치구   행정동 면적(k㎡)
0    종로구   사직동   1.23
1    종로구   삼청동   1.49
2    종로구   부암동   2.27
3    종로구   평창동   8.87
4    종로구   무악동   0.36
..   ...   ...    ...
421  강동구  성내3동   0.71
422  강동구  둔촌1동   0.92
423  강동구  둔촌2동   0.98
424  강동구  상일1동   2.65
425  강동구  상일2동   0.54

[426 rows x 3 columns]

In [97]:
# merge 하기
df_area.merge(df_road, how='left', on='자치구').sort_values(by='자치구',ascending=True)

     자치구   행정동 면적(k㎡)     도로율
363  강남구  대치1동   0.79  0.2406
377  강남구   세곡동   6.36  0.2406
378  강남구  압구정동   2.53  0.2406
379  강남구   청담동   2.33  0.2406
374  강남구  일원1동   0.92  0.2406
..   ...   ...    ...     ...
105  중랑구  신내1동   2.56  0.2601
106  중랑구  신내2동   0.93  0.2601
107  중랑구  면목본동   0.84  0.2601
100  중랑구  중화1동   0.64  0.2601
103  중랑구   묵2동   0.67  0.2601

[426 rows x 4 columns]

In [98]:
df_merged=df_area.merge(df_road, how='left', on='자치구')

In [105]:
#도로면적 구하기 (행정동별면적 * 구별 도로율 )
df_merged['면적(k㎡)']*df_merged['도로율']

TypeError: can't multiply sequence by non-int of type 'float'

In [109]:
#str->float 변환
print(df_merged['면적(k㎡)'].dtype)
print(df_merged['도로율'].dtype)

object
float64

In [111]:
df_merged['면적(k㎡)']=df_merged['면적(k㎡)'].astype(float)

In [113]:
#도로면적 계산후 새 컬럼에 추가
df_merged['도로면적']=df_merged['면적(k㎡)']*df_merged['도로율']

In [116]:
df_com=df_merged[['행정동','도로면적']]

In [117]:
df_com

      행정동      도로면적
0     사직동  0.263712
1     삼청동  0.319456
2     부암동  0.486688
3     평창동  1.901728
4     무악동  0.077184
..    ...       ...
421  성내3동  0.172672
422  둔촌1동  0.223744
423  둔촌2동  0.238336
424  상일1동  0.644480
425  상일2동  0.131328

[426 rows x 2 columns]

In [ ]:
df_com.to_csv('행정동_도로면적(km2).')