In [15]:
import pandas as pd

In [43]:
df_acc=pd.read_csv('행정동_교통사고v2.csv',encoding='utf-8')
df_popRoad=pd.read_csv('행정동_인구수_1인가구_도로면적(km2)v2.csv',encoding='utf-8')

In [44]:
df_acc

      자치구   행정동  사망자수  중상자수  경상자수  단일로  교차로
0     송파구   가락동     0     8    32   14   17
1     구로구  가리봉동     1     2    10    4    6
2     금천구   가산동     2     5    17    9    8
3     강서구   가양동     0     1     7    3    4
4     용산구   남영동     0     3     1    3    0
..    ...   ...   ...   ...   ...  ...  ...
197    중구   회현동     1     4    10    3    4
198   용산구   효창동     0     0     3    1    2
199   용산구   후암동     0     1     3    2    0
200  동대문구   휘경동     1     6    16    7   14
201   동작구   흑석동     0     1     4    5    0

[202 rows x 7 columns]

In [45]:
df_popRoad

      자치구   행정동       행정동코드      총생활인구수  1인가구      도로면적
0     송파구  가락1동  11710631.0  26516.6082  1255  0.277112
1     송파구  가락2동  11710632.0  29330.8134  2272  0.198528
2     송파구   가락동         NaN  55847.4216  3527  0.475640
3     송파구  가락본동  11710620.0  36499.8323  3173  0.233684
4     구로구  가리봉동  11530595.0  11300.9976  2849  0.088240
..    ...   ...         ...         ...   ...       ...
497   용산구   후암동  11170510.0  15384.0104  2800  0.190834
498  동대문구  휘경1동  11230720.0  15146.3703  3336  0.139608
499  동대문구  휘경2동  11230730.0  21552.3517  4785  0.232680
500  동대문구   휘경동         NaN  36698.7220  8121  0.372288
501   동작구   흑석동  11590605.0  29718.6443  4562  0.290472

[502 rows x 6 columns]

In [46]:
df_merged=df_acc.merge(df_popRoad,how='left',on=['행정동','자치구'])

In [47]:
df_merged

,자치구,행정동,사망자수,중상자수,경상자수,단일로,교차로,행정동코드,총생활인구수,1인가구,도로면적
0,송파구,가락동,0,8,32,14,17,NaN,55847.4216,3527,0.475640
1,구로구,가리봉동,1,2,10,4,6,11530595.0,11300.9976,2849,0.088240
2,금천구,가산동,2,5,17,9,8,11545510.0,31349.7089,9775,0.538776
3,강서구,가양동,0,1,7,3,4,NaN,64089.6280,17571,1.673380
4,용산구,남영동,0,3,1,3,0,11170530.0,9634.8789,2382,0.264061
...,...,...,...,...,...,...,...,...,...,...,...
198,중구,회현동,1,4,10,3,4,11140540.0,10690.9540,867,0.158088
199,용산구,효창동,0,0,3,1,2,11170580.0,9489.9776,1082,0.097636
200,용산구,후암동,0,1,3,2,0,11170510.0,15384.0104,2800,0.190834
201,동대문구,휘경동,1,6,16,7,14,NaN,36698.7220,8121,0.372288
202,동작구,흑석동,0,1,4,5,0,11590605.0,29718.6443,4562,0.290472

In [48]:
#중복값 확인
df_merged['행정동'].describe()

count     203
unique    201
top       신당동
freq        2
Name: 행정동, dtype: object

In [52]:
#중복값 처리
df_merged[df_merged['행정동']=='신당동']

    자치구  행정동  사망자수  중상자수  경상자수  단일로  교차로  행정동코드      총생활인구수  1인가구      도로면적
109  중구  신당동     0    15    21   10   16    NaN  24742.2656  4405  0.176908

In [50]:
df_merged.drop(108,axis=0,inplace=True)

In [53]:
#결측값 확인
df_merged[df_merged['1인가구'].isna()]

Empty DataFrame
Columns: [자치구, 행정동, 사망자수, 중상자수, 경상자수, 단일로, 교차로, 행정동코드, 총생활인구수, 1인가구, 도로면적]
Index: []

In [57]:
#행정동코드 컬럼 삭제
df_merged.drop('행정동코드',axis=1,inplace=True)

In [59]:
df_merged.to_csv('행정동데이터_최종.csv',index=False)