In [1]:
import pandas as pd

In [2]:
df_pop=pd.read_csv('행정동_인구수_1인가구.csv', encoding='utf-8')
df_road=pd.read_csv('행정동_도로면적(km2).csv',encoding='utf-8')

In [3]:
df_pop

          행정동코드      총생활인구수    행정동   자치구    1인가구
0    11590520.0  15392.3606  노량진2동   동작구  3064.0
1    11110700.0   6766.6507   숭인1동   종로구  1007.0
2    11650550.0   1944.7150   반포본동   서초구   354.0
3    11650580.0  17357.3845   반포3동   서초구   910.0
4    11560710.0  20246.6744   대림2동  영등포구  2783.0
..          ...         ...    ...   ...     ...
421  11470540.0  21687.6749    목4동   양천구  2280.0
422  11740685.0  56597.5455     길동   강동구  6909.0
423  11500611.0  33165.7067   발산1동   강서구  2152.0
424  11215810.0  36194.0265    광장동   광진구  1501.0
425  11560550.0  22589.9182   당산1동  영등포구  4125.0

[426 rows x 5 columns]

In [4]:
df_road

      행정동      도로면적
0     사직동  0.263712
1     삼청동  0.319456
2     부암동  0.486688
3     평창동  1.901728
4     무악동  0.077184
..    ...       ...
421  성내3동  0.172672
422  둔촌1동  0.223744
423  둔촌2동  0.238336
424  상일1동  0.644480
425  상일2동  0.131328

[426 rows x 2 columns]

In [5]:
#데이터 병합
df_merged=df_pop.merge(df_road,how='outer',on='행정동')
df_merged

          행정동코드      총생활인구수    행정동   자치구    1인가구      도로면적
0    11590520.0  15392.3606  노량진2동   동작구  3064.0  0.110656
1    11110700.0   6766.6507   숭인1동   종로구  1007.0  0.049312
2    11650550.0   1944.7150   반포본동   서초구   354.0  0.266135
3    11650580.0  17357.3845   반포3동   서초구   910.0  0.337280
4    11560710.0  20246.6744   대림2동  영등포구  2783.0  0.133265
..          ...         ...    ...   ...     ...       ...
428  11215810.0  36194.0265    광장동   광진구  1501.0  0.689037
429  11560550.0  22589.9182   당산1동  영등포구  4125.0  0.181725
430         NaN         NaN     항동   NaN     NaN  0.308840
431         NaN         NaN   상일1동   NaN     NaN  0.644480
432         NaN         NaN   상일2동   NaN     NaN  0.131328

[433 rows x 6 columns]

In [6]:
#결측치 확인
df_merged[df_merged['1인가구'].isna() | df_merged['도로면적'].isna()] #몇개 없으므로 수작업 처리

          행정동코드      총생활인구수   행정동  자치구    1인가구      도로면적
276  11740520.0  40760.3325   상일동  강동구  1441.0       NaN
430         NaN         NaN    항동  NaN     NaN  0.308840
431         NaN         NaN  상일1동  NaN     NaN  0.644480
432         NaN         NaN  상일2동  NaN     NaN  0.131328

In [7]:
df_merged.drop(430,axis=0,inplace=True)

In [12]:
df_merged.loc[276,'도로면적']=df_merged.loc[431,'도로면적']+df_merged.loc[432,'도로면적']

In [16]:
df_merged.drop([431,432],axis=0,inplace=True)

In [17]:
df_merged[df_merged['1인가구'].isna() | df_merged['도로면적'].isna()]

Empty DataFrame
Columns: [행정동코드, 총생활인구수, 행정동, 자치구, 1인가구, 도로면적]
Index: []

In [31]:
df_merged.describe() #426개 갯수 같은 두 데이터 병합했는데 왜 430개로 늘어남???

              행정동코드        총생활인구수          1인가구        도로면적
count  4.300000e+02    430.000000    430.000000  430.000000
mean   1.143623e+07  23171.039191   3296.116279    0.335070
std    1.922829e+05   9913.622607   2130.145534    0.384102
min    1.111052e+07   1944.715000      6.000000    0.048932
25%    1.126066e+07  16303.838200   1844.250000    0.159110
50%    1.144067e+07  21831.747400   2899.500000    0.225650
75%    1.162058e+07  28934.025025   4212.000000    0.352926
max    1.174070e+07  64807.836700  13435.000000    3.341180

In [32]:
df_merged['행정동'].describe() #신사동 데이터가 8개가 있는것을 확인

count     430
unique    423
top       신사동
freq        8
Name: 행정동, dtype: object

In [33]:
df_merged[df_merged['행정동']=='신사동'] 
# 판다스의 merge() 함수를 사용하여 데이터프레임을 병합할 때, merge의 기준이 되는 컬럼에서 중복값이 존재하면, 기본적으로 모든 중복된 조합이 결과에 포함됩니다.
#신사동은 관악구와 강남구에 존재하여 중복된 조합이 모두 결과로 나타났음 
#원본 데이터 참고해서 수작업으로 처리

          행정동코드      총생활인구수  행정동  자치구    1인가구      도로면적
283  11620685.0  24027.3375  신사동  관악구  7282.0  0.162624
284  11620685.0  24027.3375  신사동  관악구  7282.0  0.454734
285  11620685.0  24027.3375  신사동  강남구  2047.0  0.162624
286  11620685.0  24027.3375  신사동  강남구  2047.0  0.454734
287  11680510.0  23246.5836  신사동  관악구  7282.0  0.162624
288  11680510.0  23246.5836  신사동  관악구  7282.0  0.454734
289  11680510.0  23246.5836  신사동  강남구  2047.0  0.162624
290  11680510.0  23246.5836  신사동  강남구  2047.0  0.454734

In [ ]:
df_merged.drop([284,285,286,287,288,289],axis=0,inplace=True)

# 11680510 강남구 신사동 0.454734 2047 
# 11620685 관악구 신사동 0.162624 7282

In [36]:
df_merged

          행정동코드      총생활인구수    행정동   자치구    1인가구      도로면적
0    11590520.0  15392.3606  노량진2동   동작구  3064.0  0.110656
1    11110700.0   6766.6507   숭인1동   종로구  1007.0  0.049312
2    11650550.0   1944.7150   반포본동   서초구   354.0  0.266135
3    11650580.0  17357.3845   반포3동   서초구   910.0  0.337280
4    11560710.0  20246.6744   대림2동  영등포구  2783.0  0.133265
..          ...         ...    ...   ...     ...       ...
425  11470540.0  21687.6749    목4동   양천구  2280.0  0.158916
426  11740685.0  56597.5455     길동   강동구  6909.0  0.527744
427  11500611.0  33165.7067   발산1동   강서구  2152.0  0.793506
428  11215810.0  36194.0265    광장동   광진구  1501.0  0.689037
429  11560550.0  22589.9182   당산1동  영등포구  4125.0  0.181725

[424 rows x 6 columns]

In [39]:
df_merged.index=range(424)

In [40]:
df_merged=df_merged['자치구','행정동','행정동코드','총생활인구수','1인가구','도로면적']

In [43]:
print(df_merged)

      자치구    행정동       행정동코드      총생활인구수    1인가구      도로면적
0     동작구  노량진2동  11590520.0  15392.3606  3064.0  0.110656
1     종로구   숭인1동  11110700.0   6766.6507  1007.0  0.049312
2     서초구   반포본동  11650550.0   1944.7150   354.0  0.266135
3     서초구   반포3동  11650580.0  17357.3845   910.0  0.337280
4    영등포구   대림2동  11560710.0  20246.6744  2783.0  0.133265
..    ...    ...         ...         ...     ...       ...
419   양천구    목4동  11470540.0  21687.6749  2280.0  0.158916
420   강동구     길동  11740685.0  56597.5455  6909.0  0.527744
421   강서구   발산1동  11500611.0  33165.7067  2152.0  0.793506
422   광진구    광장동  11215810.0  36194.0265  1501.0  0.689037
423  영등포구   당산1동  11560550.0  22589.9182  4125.0  0.181725

[424 rows x 6 columns]

In [44]:
df_merged.to_csv('행정동_인구수_1인가구_도로면적.csv', index=False)